{% extends "layout.html" %}

{% block title %}
    Django Fullstack App | Tweet App
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="text-center">
            <h1 class="display-4 mb-4">Welcome to Tweet's App</h1>
            <p class="lead text-muted mb-4">This is a small project developed for learning the Django framework.</p>
            <a href="{% url 'tweet_list' %}" class="btn btn-primary btn-lg">Go To App</a>
        </div>
    </div>
{% endblock %}
