{% extends "layout.html" %}

{% block title %}
    Tweet
{% endblock %}

{% block content %}
    <a href="{% url 'tweet_create' %}" class="btn btn-primary">Create Tweet</a>
    {% comment " we are using bootstrap" %}{% endcomment %}
    <div class ="container">
        <h1 class="bg-orange-500 text-3xl h-2000  text-cyan-600">Tweet</h1>
        <div class="row">
            {% for tweet in tweets %}
                <div class="col-md-4">
                    <div class="card">
                        {% if tweet.photo %}
                        <img src="{{tweet.photo.url}}" class="card-img-top" alt="...">
                        {% else %}
                          <h5 class="card-title">No Image</h5>
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title
                            ">{{ tweet.text }}</h5>
                            <p class="card-text">{{ tweet.created_at }}</p>
                            <p class="card-text">{{ tweet.user.username }}</p>
                            {% if tweet.user == request.user %}
                            <a href="{% url 'tweet_edited' tweet.id %}" class="btn btn-warning">Edit</a>
                            <a href="{% url 'tweet_delete' tweet.id %}" class="btn btn-danger">Delete</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>


    </div>
{% endblock %}



